.show-documents .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.show-documents .content img {
    width: 100%;
    height: 200px;
    z-index: 9;
    object-fit: cover;
    border-radius: 10px;
    transition: transform .2s;
}
.show-documents .content img:hover {
    -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}
.show-documents ._photos .photo-item {
    position: relative;
    z-index: 99;
    height: 200px;
    border-radius: 10px;
    -webkit-box-shadow: -1px 3px 15px 3px rgba(0,0,0,0.25); 
    box-shadow: -1px 3px 15px 3px rgba(0,0,0,0.25);
    overflow: hidden;
}
.show-documents ._photos .photo-item:hover {
    cursor: pointer;
}
.show-documents ._photos span {
    position: absolute;
    top: 10px;
    right: 5px;
}
.show-documents ._photos span a {
    border: none;
    background-color: #ffffff;
    padding: .4rem 1rem .4rem 1rem;
    border-radius: .5rem;
    color: #444444;
    text-decoration: none;
}
.show-documents ._photos span a:hover {
    background-color: #e9e9e9;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
.show-documents ._documents {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}