.details {
    padding-top: .2rem;
}
.details .stretch .title {
    font-size: 22px;
    color: #666666;
}
.details .stretch {
    color: #333333;
}
.details .q-price {
    font-size: 14px;
    color: blue;
    text-transform: uppercase;
}
.patient_informations {
    margin-top: 15px;
}
.patient_informations .title {
    font-size: 16px;
    color: #222222;
}
table.custom-table, th.cs-th, td.cs-td {
    border: 1px solid #cccccc;
    border-collapse: collapse;
  }
  th.cs-th, td.cs-td {
    padding: 5px;
    text-align: left;
  }

.patient_informations .show-documents {
    display: flex;
}

p.form-awaiting-fit {
    padding-left: 1rem;
}
p.form-awaiting-fit strong {
    background-color: #cccccc;
    padding: .5rem;
    border-radius: .5rem;
}
.patient_informations .hide-documents {
    display: none;
}

.patient_informations button {
    border: none;
    background-color: transparent;
    color: blue;
    text-decoration: underline;
    font-size: 16px;
}
.patient_informations button:hover {
    cursor: pointer;
}
.patient_informations .title {
    font-size: 16px;
    color: #666666;
}
.patient_informations_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}