#admins {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #admins td, #admins th {
    border: 1px solid #ffffff;
    padding: 8px;
  }
  #admins td {
    vertical-align: middle;
  }
  #admins tr:nth-child(even){background-color: #ffffff;}
  
  #admins tr:hover {background-color: #f2f2f2;}
  
  #admins th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f2f2f2;
    color: #666666;
    font-weight: bold;
  }

  #admins .admin-prefix {
      height: 50px;
      width: 50px;
      border-radius: 2rem;
      background-color: #4CAF50;
      color: #ffffff;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .admin-row .notifications {
    display: flex;
    justify-content: flex-end;
  }
.admin-row .notifications .whatsapp {
  background-color: rgba(37, 211, 102, .5);
  padding: .2rem .4rem;
  border-radius: .5rem;
  color: #ffffff;
}
.admin-row .notifications .sms {
  margin-left: 1rem;
  background-color: rgba(153, 153, 153, 0.5);
  padding: .2rem .4rem;
  border-radius: .5rem;
  color: #ffffff;
}
.admin-table {
  width: 100%;
  overflow-x: scroll;
}
.admin-table h3 {
  font-size: 18px;
  color: #444444;
  font-weight: bold;
}
.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.actions .delete-admin-btn:hover {
  color: red;
  cursor: pointer;
}