.wrapper-download {
    height: 100vh;
    width: 100%;
    background-color: #f1f1f1;
}
.download {
    max-width: 50%;
    width: 50%;
    position: absolute;
    margin-left: 25%;
    top: 25%;
}
.download .actions {
    background-color: #ffffff;
    padding: 0rem;
    border-radius: .8rem;
}

.download .actions img {
    width: 120px;
    height: 60px;
    object-fit: contain;
}

.download .actions .goToSiteBtn {
    border: none;
    padding: .8rem 2rem .8rem 2rem;
    background-color: #324f80;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.23);
    margin-top: 3rem;
}

.download .actions .downloadBtn {
    border: none;
    padding: .8rem 2rem .8rem 2rem;
    background-color: #324f80;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.23);
    margin-top: 3rem;
}

.download .group-buttons button {
    margin-right: .5rem;
}

.download .group-buttons button:hover {
    background-color: #264d90;
}

.download .title .__main {
    margin-top: 2rem;
    color: #444;
}

.download .title .error {
    font-size: 22px;
    margin-top: 2rem;
}
.downloadBtn:hover {
    cursor: pointer;
}
.goToSiteBtn:hover {
    cursor: pointer;
}
@media screen and (max-width: 1200px) {
    .download {
        max-width: 100%;
        width: 96%;
        right: 2%;
        top: 20%;
    }
}
@media screen and (max-width: 800px) {
    .download .actions .downloadBtn {
        margin-top: 1rem;
        width: 100%;
    }
    .download .actions .goToSiteBtn {
        margin-top: .5rem;
        width: 100%;
    }
}