.consult {
    background-color: #ffffff;
}
.consult .filters {
    padding: 1rem 2rem 1rem 2rem;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}
.consult .filters .col-filter {
    display: inline-block;
}
.consult .filters .col-filter .btnFilter {
    border: none;
    background: transparent;
}
.consult .filters .col-filter .btnFilter .icon {
    font-size: 24px;
    color: #666666;
}
.consult .action-cell {
    display: flex;
    justify-content: space-between;
}
.consult .action-cell .col-action {
    display: inline-block;
}
.consult .action-cell .col-action .btnaction {
    border: none;
    background: transparent;
    cursor: pointer;
}
.consult .action-cell .col-action .btnaction .icon {
    font-size: 20px;
    color: #444444;
}
.consult .check-container .select-span {
    margin-left: 2.5rem;
}