.medical .header {
    display: flex;
    justify-content: space-between;
}
.medical .ref_quotation {
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.medical .ref_quotation p {
    color: #222222;
    font-size: 16px;
}
.medical .ref_quotation:hover {
    cursor: pointer;
    background-color: #cccccc;
}
.pdf-generated .pdf-actions {
    display: flex;
    align-items: center;
}
.medical .with-documents button {
    border: none;
    background-color: transparent;
    color: blue;
    text-decoration: underline;
    font-size: 16px;
}
.medical .no-documents {
    font-size: 16px;
    color: #666666;
}
.medical .with-documents button:hover {
    cursor: pointer;
}
.action-tooltip .icon-pdf:hover {
    color: #ce3f35;
}
.action-tooltip .icon-whatsapp:hover {
    color: #25d366;
}
.action-tooltip .icon-edit:hover {
    color: blue;
}