.list-quotations .type_of_transport {
    width: 130px;
    border-radius: .5rem;
    font-weight: 400;
    font-size: 16px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-quotations .passengers-transport {
    background-color: #FC642D;
    color: #ffffff;
}
.list-quotations .aeromedical-transport {
    background-color: #ffe2ec;
    color: #666666;
}
.list-quotations .pdf-tooltip .pi-file-pdf {
    font-size: 20px;
}
.list-quotations .pdf-tooltip:hover {
    color: #F40F02;
}
.dialog-send .MuiDialog-paper {
    width: 300px;
    padding: 1rem;
}
.dialog-send .title {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
}
.dialog-send .send-content .share {
    text-align: center;
}
.list-quotations .custom-info {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
}
.list-quotations .custom-info p strong {
    font-weight: bold;
}