.home {
    height: 100%;
    background-color: #f1f1f1;
}
.home .select {
    width: 100%;
    font-size: 18px;
    color: #444444;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: .6rem;
    background-color: #ffffff;
    padding: .4rem .5rem .4rem 1.2rem;
    cursor: pointer;
}
.home form {
    background-color: #f2f2f2;
    padding: 1rem 1rem 5rem 1rem;
}
.select .MuiSvgIcon-root {
    font-size: 24px;
    right: 5px;
}
.home .tripmode .radio-input {
    display: inline-block;
}
.home .tripmode .radio-input .radio {
    color: #264d90;
}
.home .stretch .title {
    font-size: 18px;
    color: #666666;
    font-weight: bold;
    margin-top: 1.5rem;
}
.home .kmTotal {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 18px;
}
.home .legs {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.home h3 {
    text-align: center;
    margin-top: 2rem;
    color: #324f80;
}
.home .aircraft {
    margin-top: 1.5rem;
}
.home .aircraft .checked span {
    font-size: 18px;
}
.home form .submitBtn {
    border: none;
    padding: 1.2rem 2.2rem 1.2rem 2.2rem;
    background-color: #324f80;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.23);
    border-radius: .6rem;
    width: 25%;
    margin-top: 2rem;
    cursor: pointer;
}
.home form .submitBtn:hover {
  background-color: #264d90;
}

.error {
    color: #ec3d3d;
    font-size: 14px;
}

@media screen and (max-width: 800px) {
    .home .select {
        font-size: 16px;
    }
    .home form .submitBtn {
        width: 100%;
    }
}