.quotation-list * {
    font-size: 14px;
}
.quotation-list .icon {
    font-size: 24px;
    color: #444444;
}
.quotation-list .table-pagination * {
    font-size: 14px;
}
.quotation-list .quote-cell {
    display: flex;
    align-items: center;
    background-color: aqua;
    justify-content: center;
}
p.obs-new-form {
    font-size: 14px;
    color: red;
}
.quotation-list .details {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}
.quotation-list .down {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}
.quotation-list .attach-medical-information {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}
.quotation-list .details .icon:hover {
    color: #fc5c00;
}
.quotation-list .down .icon:hover {
    color: blue;
}
.quotation-list .edit .icon:hover {
    color: cornflowerblue;
}
.quotation-list .attach-medical-information .icon:hover {
    color: green;
}
.quotation-list .expand {
    font-size: 26px;
}
.quotation-list .editBtn {
    border: none;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .6rem;
    background-color: darkblue;
    color: #ffffff;
    cursor: pointer;
}
.quotation-list .editBtn:hover {
    background-color: rgb(0, 0, 105);
}
.quotation-list .actions {
    display: flex;
    justify-content: flex-end;
}