.filter-dialog {
    position: absolute;
    right: 12px;
    top: 50px;
    padding: 1rem;
    border-radius: .8rem;
    background-color: #ffffff;
    width: 500px;
    height: auto;
    z-index: 99;
    box-shadow:0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0 4px 4px rgba(0,0,0,0.11),0 6px 8px rgba(0,0,0,0.11),0 8px 16px rgba(0,0,0,0.11)
}
.filter-dialog .dialog {
    display: flex;
    justify-content: space-between;
}
.filter-dialog .dialog .col-dialog {
    display: inline-block;
}
.filter-dialog .closedQuotationsAwnser {
    font-size: 16px;
    color: #666666;
}
@media screen and (max-width: 800px) {
    .filter-dialog {
        right: 0px;
        width: 100%;
    }
}