.wrapper-passenger {
    height: 100%;
    width: 100%;
}
.passenger .planmode .radio-input {
    display: inline-block;
}
.passenger .section-passenger {
    font-size: 16px;
    color: #222222;
    font-weight: 500;
}
.form-not-exists {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-not-exists p {
    font-size: 20px;
    color: #444444;
    font-weight: bold;
}
.wrapper-passenger .passenger {
    padding-top: 20px;
    padding-bottom: 4rem;
}
.passenger-button {
    border: none;
    padding: .8rem 2rem .8rem 2rem;
    background-color: #324f80;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.23);
    margin-top: 1rem;
}

.passenger-button:hover {
    cursor: pointer;
    background-color: #244379;
}

.passenger .uti-logo {
    height: 100px;
    object-fit: contain;
    width: 100%;
}

.passenger .help-text {
    margin-top: 15px;
    color: #666666;
    font-size: 18px;
    margin-bottom: 15px;
}

.passenger .icon-emergency-contact {
    color: red;
}

.passenger .btn_selected_covid {
    padding: 20px;
    height: 46px;
	background-color: #2c698d;
	color: #fff;
	font: 700 0.75rem/0 "Roboto", sans-serif;
  transition: all 0.2s;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.passenger #covid {
    width: 100%;
}
.passenger .btn_selected_covid:hover {
	background-color: #2c698d;
	color: #fff;
	font: 700 0.75rem/0 "Roboto", sans-serif;
  transition: all 0.2s;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.passenger .anex_laudo_title {
    font-size: 16px;
    color: #2c698d;
    font-weight: bold;
}
.passenger .include-ldm {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.passenger .include-ldm .check-ldm {
    padding: 0;
}
.passenger .btn_not_selected_covid {
    padding: 20px;
    height: 46px;
	background-color: #d9d9d9;
	color: #999;
	font: 700 0.75rem/0 "Roboto", sans-serif;
    transition: all 0.2s;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.passenger .btn_not_selected_covid:hover {
	background-color: #FFFF;
	color: #2c698d;
	font: 700 0.75rem/0 "Roboto", sans-serif;
    transition: all 0.2s;
}

.passenger .client_request {
    color: #324f80;
    font-size: 16px;
}

.passenger .divider-form {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 1px;
    width: 100%;
    background-color: #cccccc;
}

.passenger .admin_patient_information_title {
    font-size: 20px;
    color: #444444;
    font-weight: bold;
}
.passenger .select {
    width: 100%;
    font-size: 18px;
    color: #444444;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: .6rem;
    background-color: #f2f2f2;
    padding: .4rem .5rem .4rem 1.2rem;
    cursor: pointer;
}
.passenger-div {
    height: inherit;
    background-color: #244379
}
.passenger .admin_header_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.passenger .app-routes-edit-container {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 800px) {
    .passenger .admin_header_info {
        display: block;
    }
    .passenger .help-text {
        font-size: 16px;
    }
    .passenger .uti-logo {
        height: 80px;
    }
}