.header-nav {
    height: 66px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: flex-end;
}
.header-nav .nav { /*Alterar, no momento está sendo usando a margem à direita para compensar*/
    position: fixed;
    width: 100%; /*Reduzir para 80% para ver falhas*/
    height: inherit;
    background-color: #ffffff;
    z-index: 998;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.23);
    margin-left: 10rem;
}
.header-nav .nav .flex-navbar {
    padding-left: 1rem;
    padding-right: 1rem;
}
.header-nav .user-menu .user-button {
    height: 50px;
    width: 50px;
    border-radius: 2rem;
    background-color: #4CAF50;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-nav .user-menu .user-button:hover {
    filter: brightness(.8);
    cursor: pointer;
}

.header-nav .btnCollapseSidebar {
    border: none;
    background-color: transparent;
}
.header-nav .btnCollapseSidebar .icon {
    font-size: 32px;
    color: #666666;
}

@media screen and (max-width: 1200px) {
    .header-nav .collapse-sidebar {
        display: inline-block;
        cursor: pointer;
    }
}