/*Table Styles (START)*/
.aircraft-monitoring td, .aircraft-monitoring th {
    border: 1px solid #ddd;
    padding: 8px;
    margin: 0;
}

.aircraft-monitoring tr:nth-child(even){background-color: transparent;}

.aircraft-monitoring tr:hover {background-color: transparent;}

.aircraft-monitoring th {
    text-align: left;
    background-color: #ebebeb;
    color: #666666;
}
.monitoring-table-head .assigned-label {
    width: 100px;
    border: none;
    background-color: transparent;
}
.monitoring-table-head-container .cell-prefix {
    width: 100px;
}
.monitoring-table-head-container .prefix-label {
    height: 40px;
    transition: height .2s;
}
.monitoring-table-head-container .prefix-name {
    color: #666666;
    font-weight: bold;
}
.monitoring-table-head .day {
    font-size: 16px;
    font-weight: bold;
}
.aircraft-monitoring .monitoring-table-head-container {
    width: 100%;
    height: 100%;
}
.monitoring-table-row .prefix-btn:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}
.aircraft-monitoring .monitoring-table-head-values {
    padding: 0;
    border: none;
    height: 40px;
    border-right-width: 1px;
    border-right-color: #dddddd;
    border-right-style: solid;
    border-top-width: 1px;
    border-top-color: #dddddd;
    border-top-style: solid;
}
.aircraft-monitoring .monitoring-table-head-values tr {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aircraft-monitoring .monitoring-table-head-values tr td {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aircraft-monitoring .monitoring-table-head-values tr td.primary-color-value {
    background-color: #f2f2f2;
}
.aircraft-monitoring .monitoring-table-head-values tr td.secondary-color-value {
    background-color: #dddddd;
}
.aircraft-monitoring .monitoring-table-body-values {
    padding: 0;
    border: none;
    border-width: 1px;
    border-color: #dbdbdb;
    border-style: solid;
    position: relative;
    max-width: inherit;
    transition: height .2s;
}
.aircraft-monitoring .monitoring-table-body-values tr {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}
.aircraft-monitoring .monitoring-table-body-values tr td {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    border-left-width: 1px;
    border-left-color: #ddd;
    border-left-style: solid;
}
/*Preencher com cor*/
.monitoring-table-body-values .color-filling .period p {
    font-size: 11px;
    text-align: center;
}
.aircraft-monitoring .monitoring-table-body-values .color-filling:hover {
    cursor: pointer;
    filter: brightness(.9);
}
.aircraft-monitoring .available-status {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.aircraft-monitoring .available-status p {
    font-size: 12px;
    color: #666666;
}
.aircraft-monitoring .monitoring-table-body-values .color-DIS {
    background-color: rgba(255, 255, 255, 0.5);
    color: #666666;
}
.aircraft-monitoring .monitoring-table-body-values .color-RES {
    background-color: rgba(240, 230, 140, .8);
    color: #666666;
}
.aircraft-monitoring .monitoring-table-body-values .color-VOO {
    background-color: rgba(240, 128, 128, .8);
    color: #ffffff;
}
.aircraft-monitoring .monitoring-table-body-values .color-MNT {
    background-color: rgba(119, 136, 153, .8);
    color: #ffffff;
}
.aircraft-monitoring .monitoring-table-body-values tr td.no-border-left {
    border-left: none;
}
@media screen and (min-width: 800px) {
    .monitoring-table table {
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    .aircraft-monitoring .monitoring-table {
        overflow-x: scroll;
        overflow-y: hidden;
    }
}

.aircraft-monitoring .monitoring-table table {
    transition: width .2s;
}
/* width */
.aircraft-monitoring .monitoring-table::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
  /* Track */
.aircraft-monitoring .monitoring-table::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  /* Handle */
.aircraft-monitoring .monitoring-table::-webkit-scrollbar-thumb {
    background: #c7c7c7; 
}
  
  /* Handle on hover */
.aircraft-monitoring .monitoring-table::-webkit-scrollbar-thumb:hover {
    background: #afafaf; 
}
.aircraft-monitoring td.cell-prefix {
    height: 100%;
    position: relative;
    transition: height .2s;
}
.next-prev-page-action {
    margin-left: 1rem;
}
.next-prev-page-action .btn-action {
    background-color: #f2f2f2;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .23);
}
.next-prev-page-action .btn-action-2 {
    margin-left: .5rem;
}
.aircraft-monitoring td .prefix-name {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
}
/*Table Styles (END)*/

.select-detailed-view {
    width: auto;
    font-size: 18px;
    color: #444444;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: .5rem;
    background-color: #f2f2f2;
    padding: .4rem .5rem .4rem 1.2rem;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .23);
}

.monitoring-subtitles .color-subtitle {
    width: 35px;
    height: 15px;
    border-width: 1px;
    border-color: #cccccc;
    border-style: solid;
}
.monitoring-subtitles .subtitle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}
.monitoring-subtitles .subtitle p {
    margin-left: 5px;
    font-size: 14px;
}
.programming .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.programming .actions-programing {
    display: flex;
    align-items: center;
}

.programming .monitoring-subtitles {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.monitoring-table-head-container td.cell-prefix-mobile {
    display: none;
}
@media screen and (max-width: 800px) {
    .programming .header {
        display: inline-block;
        margin-bottom: 1rem;
    }
    .programming .actions-programing {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }
    .next-prev-page-action {
        margin-left: 0;
    }
    .programming .monitoring-subtitles {
        display: inline-block;
    }
    .monitoring-table-row {
        position: relative;
    }
    .monitoring-table-row td.cell-prefix {
        position: absolute;
        height: 41px;
        width: 101px;
        background-color: #ffffff;
        z-index: 950;
    }
    .monitoring-table-row .no-border-bottom {
        border-bottom: none;
    }
    .monitoring-table-head-container {
        position: relative;
    }
    .monitoring-table-head-container td.cell-prefix {
        position: absolute;
        height: 41px;
        width: 101px;
        background-color: #ffffff;
        z-index: 950;
    }
    .monitoring-table-head-container td.cell-prefix-mobile {
        display: inline;
    }
    .select-detailed-view .select {
        width: 100%;
    }
}