
  .loader01 {
    width: 26px;
    height: 26px;
    border: 3px solid #ffffff;
    border-right-color: transparent;
    border-radius: 50%;
    position: relative;
    animation: loader-rotate 1s linear infinite;
    margin: 0; }
  
  @keyframes loader-rotate {
    0% {
      transform: rotate(0); }
    100% {
      transform: rotate(360deg); } }