.send .actions {
    background-color: #ffffff;
    padding: 0rem;
    border-radius: .8rem;
}
.send .window {
    padding: 0;
}
.send .actions .content {
    margin-top: 2rem;
}

.send .actions h3 {
    color: #222;
}

.send .actions p {
    color: #666;
}

.send .actions .btn {
    border: none;
    padding: .8rem 2rem .8rem 2rem;
    background-color: #324f80;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.23);
    margin-top: 3rem;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.send .actions .btn:hover {
    background-color: #264d90;
}

.send .actions .group-actions .btn {
    margin-right: .5rem;
    text-decoration: none;
}

.group-actions .icon {
    font-size: 22px;
    margin-left: .5rem;
}

.send .actions .content .recipients {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    list-style: none;
    padding: .5rem;
    margin: 0;
}

#recipient-form input {
    border: none;
    border-width: 1px;
    border-style: solid;
    border-color: #e6e6e6;
    width: 100%;
    font-size: 14px;
    height: 40px;
    color: #09354B;
    padding-left: .8rem;
}

#recipient-form .error {
    font-size: 12px;
    color: #ff6666;
}

#recipient-form button {
    border: none;
    padding: .5rem 2rem .5rem 2rem;
    background-color: #264d90;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#recipient-form button .icon {
    font-size: 22px;
}

@media screen and (max-width: 800px) {
    .send .actions .group-actions .btn {
        margin: 0;
        margin-top: .2rem;
        width: 100%;
        padding: .6rem 1.2rem .6rem 1.2rem;
        font-size: 14px;
        display: inline-block;
    }

    #recipient-form button {
        display: inline-block;
        width: 100%;
        font-size: 14px;
    }
}